<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class='main-container'>

    <div class='container'>

      <div class='left-sidebar'>
        <h2>Dashboard</h2>
        <div>
          <a class='left-sidebar-links' href='http://localhost:4200/pdf'>PAYSLIP-PDF</a>

        </div>
        <div>
          <a class='left-sidebar-links' href='http://localhost:4200/profile'>PROFILE</a>

        </div>
        <div>
          <a class='left-sidebar-links' href='http://localhost:4200/empleave'>EMPLOYEE-LEAVE</a>
        </div>

        <div>
          <a class='left-sidebar-links' href='http://localhost:4200/payslip'>PAYSLIP</a>
        </div>


      </div>

      <div class='dashboard'>
        <div class="dropdown" style="float:right;">
          <div class="dropdown-content">
            <button (click)="shutdown()">LOGOUT👋</button>
          </div>
        </div>
        <H2 align="center">EMPLOYEE PORTAL- PAYSLIP-PDF</H2>



        <div class="rightbar">
          <div class="time">
            <mat-card class="matcard">
              <mat-card-content>TIME:{{time}}</mat-card-content>
            </mat-card>

            <br>

            <br>

            <button (click)="print()">PRINT PAYLSIP</button>

          </div>


        </div>


      </div>
    </div>