<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>

            <div class="top">
            <marquee id="marquee">WELCOME TO KAAR TECH - EMPLOYEE PORTAL</marquee>
            <img src="\assets\KT_15_Logo.png" height="180px"></div>
            

    
    <div class="left">
        <h1>
           Welcome back!<span class="wave">👋</span>
           <p>Happy to see u again!Stay Connected🧑🏻‍💻</p>
        </h1>
    </div>
   

    <div class="center">
        <h1>
            Login💻
        </h1>
        <form>
            <div class="text-field">
                <input type="number" [value]="empid" name="empid" (input)="empid=($any($event.target).value)"  required>
                <span></span>
                <label>EMPLOYEE-ID</label>
            </div>
            <div class="text-field">
                <input type="password" [value]="password" id="myInput" (input)="password=($any($event.target).value)"  required>
                <label>Password</label>
                <span></span>
                
            </div>
            <div class="text-field">
                <input type="number" [value]="gotp" name="otp" (input)="gotp=($any($event.target).value)"  required>
                <span></span>
                <label>OTP</label>
            </div>
            <div class="button">
            <button class="log"  (click)="getOtp()" >Send OTP</button></div>
       

        </form>
       
        <div class="container">
            <div>
                <button class="log" (click)="validate()" >Login</button>
            </div> 
          </div>
              
        
        
      
             
                 
                
              
    </div>
</body>

