<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class='main-container'>

        <div class='container'>

            <div class='left-sidebar'>
                <h2>Dashboard</h2>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/payslip'>PAYSLIP</a>

                  </div>
                <div>
  <a class='left-sidebar-links' href='http://localhost:4200/profile'>PROFILE</a>

                </div>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/empleave'>EMPLOYEE-LEAVE</a>
                </div>
                
                <!-- <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/pdf'>PAYSLIP-PDF</a>
                </div> -->


            </div>

            <div class='dashboard'>
                <div class="dropdown" style="float:right;">
                    <div class="dropdown-content">
                      <button (click)="shutdown()">LOGOUT👋</button>
                    </div>
                  </div>
                <H2 align="center">EMPLOYEE PORTAL- PAYSLIP</H2>

               

              

                <div class="rightbar">

    
                    <div class="time">
                        <mat-card class="matcard">
                            <mat-card-content>TIME:{{time}}</mat-card-content>
                          </mat-card>
                    </div>
                    
                    <br>
                    
                    <br>

                    <button  (click)="print()">PRINT PAYLSIP🖨</button><br><br>
                    <button  (click)="exporttoexcel()">EXPORT TO EXCEL</button>

                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status" >
                          <span class="sr-only" id="loading"></span>
                        </div>
                      </div>
                    <table id="excel-table">
                        
                        <th>Sequence Number</th>
                        <th> Start Date </th>
                        <th>End Date  </th>
                        <th>Pay Type</th>
                        <th>Pay Date</th>
                        <th>Period</th>
                        

                    <tr style="height:200px" *ngFor="let entries of this.items">
                        <td><h4>{{entries.SEQUENCENUMBER | number}}</h4></td>
                        <td><h4>{{entries.FPBEGIN | date: 'dd/MM/yyyy' }}</h4></td>
                        <td><h4>{{entries.FPEND |  date: 'dd/MM/yyyy'}}</h4></td>
                        <td><h4>{{entries.PAYTYPE_TEXT}}</h4></td>
                        <td><h4>{{entries.PAYDATE | date: 'dd/MM/yyyy'}}</h4></td>
                        <td><h4>{{entries.FPPERIOD}}</h4></td>
                        
                    </tr>
                </table>
                    
                    
                    
                </div>


            </div>


        </div>
    </div>
